@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    scrollbar-gutter: stable;
    scrollbar-gutter: stable both-edges;
}

.glassie{
    background-color: #364a6782;
    backdrop-filter: blur(5px);
}

@media screen and (min-width: 1440px) {
    .heigth-personal-info{
        height: 20rem;
    }
}

.contact-form-loader {
    text-align: center;
    display: none;
}